{% extends "base.html" %}
{% block content %}

<div class="container">
      <div class="py-5 text-center">
        <h2>Change Password</h2>
      </div>


    <div>
        <form method="POST" class="col-md-8">
            {% csrf_token %}
            <div class="col-8">
                <label for="id_old_password" class="form-label">기존 비밀번호</label>
              <div class="input-group has-validation">
                <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="form-control" placeholder="Old Password">
              </div>
            </div>

            <p></p>

            <div class="col-8">
                <label for="id_new_password1" class="form-label">새 비밀번호</label>
              <div class="input-group has-validation">
                <input type="password" name="new_password1" autocomplete="new-password" autofocus required id="id_new_password1" class="form-control" placeholder="New Password">
              </div>
                <div class="helptext">
                    <ul>
                        <li> 다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다. </li>
                        <li> 비밀번호는 최소 8자 이상이어야 합니다. </li>
                        <li> 통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다. </li>
                        <li> 숫자로만 이루어진 비밀번호는 사용할 수 없습니다. </li>
                    </ul>
                </div>
            </div>

            <div class="col-8">
                <label for="id_new_password2" class="form-label">새 비밀번호 (확인)</label>
              <div class="input-group has-validation">
                <input type="password" name="new_password2" autocomplete="new-password" autofocus required id="id_new_password2" class="form-control" placeholder="Confirm New Password">
              </div>
                <div class="helptext">
                    <ul>
                        <li>확인을 위해 이전과 동일한 비밀번호를 입력하세요.</li>
                    </ul>
                </div>
            </div>
            
            <hr class="my-4 col-md-8">

          <button class="col-md-8 btn btn-primary btn-lg" type="submit">변경</button>
        </form>
      </div>

</div>

{% endblock %}
