{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="py-5 text-center">
        <h2>Edit Comment</h2>
    </div>

    <form method="post" class="ms-5 me-5">
        {% csrf_token %}
        <table class="table">
            {% bootstrap_form form %}
        </table>
        <div class="d-flex flex-row-reverse">
            <button type="submit" id="submitbtn" class="btn btn-primary me-5">Edit</button>
        </div>
    </form>

{% endblock %}
</body>
</html>
