{% extends 'base.html' %}
{% block content %}

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-1 border-bottom">
        <span class="fs-4">{{ post.title }}</span>
    </header>
  
    <main>
        <div>
            <span>{{ post.created_at }}</span><span> by {{ post.author }}</span>
        </div>
        <div>
            <p>조회수 : {{post.view_count}}</p>
        </div>
        <p></p>
      {% if post.head_image %}
        <img class="pt-3" src="{{ post.head_image.url }}" alt="" srcset="">
        {% endif %}
        <p></p>
      <p class="fs-5 pt-3 col-md-12">{{ post.content }}</p>

      
    {% if post.file_upload %}
    <a href="{{ post.file_upload.url }}" alt="" srcset="">
    첨부파일:
        {% if post.get_file_ext == 'csv' %}
            <i class="fas fa-file-csv"></i>
        {% elif post.get_file_ext == 'pdf' %}
            <i class="fas fa-file-pdf"></i>
        {% elif post.get_file_ext == 'zip' %}
            <i class="fas fa-file-archive"></i>
        {% elif post.get_file_ext == 'jpg' %}
            <i class="fas fa-file-image"></i>
        {% elif post.get_file_ext == 'png' %}
            <i class="fas fa-file-image"></i>
        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
            <i class="fas fa-file-word"></i>
        {% elif post.get_file_ext == 'pptx' or post.get_file_ext == 'ppt' %}
            <i class="fas fa-file-powerpoint"></i>
        {% elif post.get_file_ext == 'xls' %}
            <i class="fas fa-file-excel"></i>
        {% elif post.get_file_ext == 'mp3' %}
            <i class="fas fa-file-audio"></i>
        {% elif post.get_file_ext == 'mp4' %}
            <i class="fas fa-file-video"></i>
        {% else %}
            <i class="fas fa-file"></i>
        {% endif %}
        {{ post.file_upload.name }}
    {% endif %}
    </a>
    <p></p>

      <div class="row g-5">
        <div class="col-md-12 pt-3 border-top">
            <div class="bd-example-snippet bd-code-snippet"><div class="bd-example m-0 border-0">
            {% if post.comment_set.exists %}
            {% for comment in post.comment_set.all %}
            <ul class="list-group">
                <li class="list-group-item">
                    <p>{{ comment.created_at }}</p>
                    <p>{{ comment.author }}: {{ comment.content }}</p>
                    {% if user.is_authenticated and comment.author == user %}
                    <a href="/blog/update_comment/{{comment.pk}}"><button type="submit" class="btn btn-outline-primary btn-sm">edit</button></a>

                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete_comment">delete</button>

                    <div id="delete_comment" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content rounded-3 shadow">
                                <div class="modal-body p-4 text-center">
                                    <h5 class="mb-0">댓글을 삭제하시겠습니까?</h5>
                                </div>
                                <div class="modal-footer flex-nowrap p-0">
                                        <a href="/blog/delete_comment/{{comment.pk}}">
                                            <button type="submit" class="btn btn-lg btn-link text-decoration-none row-6 py-3 m-0 rounded-0 border-end"><strong>네</strong></button>
                                        </a>
                                    <a href=""><button type="button" class="btn btn-lg btn-link text-decoration-none row-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">아니요</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                </li>
            </ul>
            {% endfor %}
            {% else %}
            <ul class="list-group">
                <li class="list-group-item">
                    <p>아직 댓글이 없습니다.</p>
                </li>
            </ul>
            {% endif %}
            </div>
            </div>
        </div>
    </div>
</main>

    {% if user.is_authenticated %}

    <form id="comment-form" action="{{post.get_absolute_url}}new_comment/" method="post">
        {% csrf_token %}
        <div class="input-group pt-3">
            <span class="input-group-text">댓글 작성</span>
            <textarea name="content" class="form-control" aria-label="With textarea" required></textarea>
            <button type="submit" class="btn btn-outline-primary">작성</button>
        </div>
    </form>


    {% if user == post.author %}
    <div class="d-flex justify-content-between pt-5">
    <a href="{% url 'postedit' post.pk %}"><button type="submit" class="btn btn-primary">Edit Post</button></a>
    
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete Post</button>
            

            <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-3 shadow">
                        <div class="modal-body p-4 text-center">
                            <h5 class="mb-0">정말 삭제하시겠습니까?</h5>
                            <p class="mb-0">"삭제하기"를 누르면 게시글이 삭제됩니다.</p>
                        </div>
                        <div class="modal-footer flex-nowrap p-0">
                                <form action="{% url 'postdelete' pk=post.pk %}" method="POST">
                                {% csrf_token %}
                                    <button type="submit" class="btn btn-lg btn-link text-decoration-none row-6 py-3 m-0 rounded-0 border-end"><strong>삭제하기</strong></button>
                                </form>
                            <a href="#"><button type="button" class="btn btn-lg btn-link text-decoration-none row-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">취소하기</button></a>
                        </div>
                    </div>
                </div>
            </div>

    <!--
    <form action="{% url 'postdelete' pk=post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Post</button>
    </form>
    -->


    </div>
    {% endif %}

    {% else %}
    <p>로그인이 필요합니다.</p>
    {% endif %}
    </main>


{% endblock %}

</body>
</html>
