{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<body>
    <div class="py-5 text-center">
        <h2>Post Form</h2>
    </div>
    <form method="post" enctype="multipart/form-data" class="ms-5 me-5">
        {% csrf_token %}
        {% bootstrap_form form %}

            <!--
            <table class="table">
            {{ form }}


            <div class="mb-3">
                <select name="category" class="form-select form-select-lg" aria-label=".form-select-lg example">
                    {% for category in form.category %}
                    <option value="{{ forloop.counter0 }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            
            {% for p in form.fields %}
            {{ p }}
            {% endfor %}
            -->

            <!--
            <tr>
                <th><label for="id_tags">Tags:</label></th>
                <td><input type="text" name="tags_str" id="id_tags_str"></td>
            </tr>
            <tr>
                <th><label for="id_content_editor">Content_editor:</label></th>
                <td><div id="editor"></div></td>
            </tr>
            -->
        <div class="d-flex flex-row-reverse">
            <button type="submit" id="submitbtn" class="btn btn-primary me-5">Post</button>
        </div>
    </form>

{% endblock %}

    <script>
        const Editor = toastui.Editor;

        const editor = new Editor({
            el: document.querySelector("#editor"),
            height: "600px",
            initialEditType: "markdown",
            previewStyle: "vertical",
        });

        // editor.getHTML()
        // editor.getMarkdown()
        document.getElementById('submitbtn').addEventListener('click', function(){
            const markdownContent = editor.getMarkdown();
            document.getElementById('id_content').value = markdownContent;
        });
    </script>
</body>
</html>
