{% extends 'base.html' %}
{% block content %}
            
  <div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-sm-start ms-5">
        {% for category in category_list %}
        <a class="nav-item nav-link link-body-emphasis active" href="{{ category.get_absolute_url }}">{{ category.name }} {{ category.post_set.count }}</a>
        {% endfor %}
    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-12 px-0">
      <h1 class="display-4 fst-italic">Mobile game blog</h1>
      <p class="lead my-3">다양한 모바일 게임의 개인적인 감상과 평가를 작성하는 블로그입니다.</p>
    </div>
  </div>

  {% if post_list.exists %}
    {% for post in post_list %}
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

          <div class="d-flex justify-content-between">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Category: {{ post.category }}</strong>
            <p>조회수 : {{post.view_count}}</p>
          </div>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-body-secondary">{{ post.created_at }}</div>
          <p></p>
          <p class="card-text mb-auto">{{ post.content | truncatewords:15 }}</p>

          <a href="/blog/{{ post.pk }}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
          <strong class="d-inline-block mb-2 text-primary-emphasis">by {{ post.author }}</strong>

        </div>
        {% if post.head_image %}
        <div class="col-auto d-none d-lg-block">
            <img src="{{ post.head_image.url }}" alt="tumbnail" width="400" height="250"/>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
        <p>게시물이 없습니다.</p>
        <a href="/blog/"><button type="submit" class="btn btn-primary pd-3">돌아가기</button></a>
        <p></p>
  {% endif %}
      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Back to top</a>
      </nav>
  </div>

</main>

{% endblock %}


<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.querySelector('#search-btn').addEventListener('click', () => {
        const searchInput = document.querySelector('#search-input');
        const searchValue = searchInput.value;
        location.href = `/blog/?q=${searchValue}`;
    });
</script>

    </body>
</html>
